.list-view {
    flex: 1;
    overflow: auto;
}

.card {
    margin: 4px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 14px
}

.card-title {
   flex: 1;
    color: grey;
}

.card-links {
    display: flex;
    flex: .25;
    justify-content: space-around;
    font-size: 22px;
    color: grey;
}

.card-links i {
    margin-right: 2px;
}

.card-links a{
    color: grey;
}

.card-title h3,h4,h5{
    margin-top: 0px;
    margin-bottom: 8px;
    display: flex;
}

.card-body .bed-status{
    flex: .35
}

.card-body .bed-status div{
    display: flex;
}
.card-body .bed-status div label{
    flex: .34;
}

.card-body .updated-time {
    flex: .65;
    padding-right: 16px;
    word-wrap: break-word;
    text-align: right;
}

.card-body .updated-time span{
    color: grey;
    font-size: 12px;
}

