.card {
    margin: 8px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-body {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 14px
}

.card-title {
   flex: 1;
    color: grey;
}

.card-links {
    align-self: flex-end;
    display: flex;
    flex: .2;
    justify-content: space-around;
    font-size: 24px;
    color: grey;
}

.card-links a{
    color: grey;
}

.card-title h3,h4,h5{
    margin-top: 0px;
    margin-bottom: 8px;
    display: flex;
}

.card-body .bed-status{
    flex: 1
}

.card-body .updated-time {
    padding-right: 16px;
}

.card-body .updated-time span{
    color: grey;
}

