


.list-controls-container {
    padding: 8px 8px 0px;
}

.list-controls{
    display: flex;
    align-items: center;
    flex-direction: column;
}


input[type=text] {
    padding: 9px 28px 9px 9px;
    margin-left: 8px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    flex: 1;
}

.list-controls .search {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;

}

.list-controls .fas {
    position: absolute;
    right: 12px;
    color: #c4c4c4;
    font-size: 20px;
}

.list-controls .sort-select {
    flex: 1;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 4px;
    position: relative;
}

.list-controls .sort-select .select{
    flex: 1;
    margin-left: 2px;

}

.list-controls .sort-select label{
    position: absolute;
    top: -8px;
    left: 16px;
    font-size: 11px;
    background: white;
    padding-left: 5px;
    padding-right: 5px;
    color: grey;
}