
body {
    font-family: Roboto, system-ui, sans-serif;
    height: 100vh; /*This will make app capitalize full screen*/
    display: flex;
    flex-direction: column;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;  /* calculated height (flex:1) based on its parents overridden by overflowing content in its tree */
}

.map-container {
    display: flex;
    flex-direction: column;
    flex: .62;
}

.list-container {
    display: flex;
    flex-direction: column;
    flex: .38;
    overflow: hidden;  /* calculated height (flex:1) based on its parents overridden by overflowing content in its tree */
}

@media  (orientation: portrait) {
    .app  {
        flex-direction: column;
    }

    .map-container {
        flex: .5;
    }

    .list-container {
        flex: .5;
    }

    .list-controls  {
        flex-direction: row;
    }

    .list-controls .sort-select {
        width: auto;
        margin-bottom: 0px;
    }

    .list-controls input[type=text] {
        width: 150px;
    }
}



